/* Google font link:Azeret Mono */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Navbar */
nav {
    margin: 40px 110px;
    display: flex;
    justify-content: space-between;
}

.download-resume-btn {
    width: 244px;
    height: 57px;
    gap: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}

/* Become a developer page */
.developer-first-container {
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 652px;
    padding: 30px 0;
}

.developer-first-section {
    align-items: center;
    text-align: center;
}

.developer-headline-text {
    font-size: 38px;
    font-weight: 800;
}

.developer-first-intro {
    font-size: 14px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}

.contact-me-btn {
    width: 233px;
    height: 55px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    border-style: none;
    font-size: 20px;
    font-weight: 600;
    word-spacing: 5px;
    text-align: center;
    cursor: pointer;
}

/* Why Web Development?? section */
.why-web-dev-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 90px;
}

.web-dev-header {
    width: 852px;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

.container-box-1 {
    width: 850px;
    height: auto;
    gap: 98px;
    display: flex;
    justify-content: flex-start;
    border-radius: 16px;
    margin: auto;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.container-box-2 {
    width: 850px;
    height: auto;
    gap: 98px;
    display: flex;
    justify-content: flex-start;
    border-radius: 16px;
    margin: auto;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.container-box-3 {
    width: 850px;
    height: auto;
    gap: 98px;
    display: flex;
    justify-content: flex-start;
    border-radius: 16px;
    margin: auto;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

/* Learn More button */
.btn-learnmore {
    width: 171px;
    height: 47px;
    font-size: 20px;
    font-weight: 500;
    margin: 22px 0px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
}

/* button text hover */
button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
}

/* My Inspiration section */
.Inspiration-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.Inspiration-header {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0%;

}

.Inspiration-text {
    color: rgb(13, 19, 33);
    font-size: 12px;
    font-weight: 200;

    width: 852px;
    line-height: 26px;
    letter-spacing: 0%;
}

/* youtube video */
.yotube-video-link {
    border-radius: 16px;
    margin-top: 25px;
}

.video-youtube-border {
    margin: 48px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    width: 1040px;
    height: 600px;
    gap: 10;

}
/* Current Target section */
.target-header {
    text-align: center;
    width: 852px;
    height: 113px;
    gap: 24;
    margin: auto;
}

.target-box-three {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1140px;
    height: 250px;
    margin:90px auto;
    gap: 24;
    

}

.html-box {
    width: 370px;
    height: 250px;
    background-color: rgba(255, 76, 30, 0.05);
    margin-left: 24px;
    padding: 40px;
}

.css-box {
    width: 370px;
    height: 250px;
    background-color: rgba(0, 76, 232, 0.05);
    margin-left: 24px;
    padding: 40px;
}

.javascript-box {
    width: 370px;
    height: 250px;
    background-color: rgba(255, 223, 0, 0.05);
    margin-left: 24px;
    padding: 40px;
}

.header-of-target {
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
}

.text-of-target {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}
.target-box-details{
    font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
color: rgb(13, 19, 33);
}
.target-links{
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
border: none;
color: rgb(13, 19, 33);
}